services:
  web_server:
    image: src
    restart: always
    volumes:
      - .:/code
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    command: [ "python", "src/manage.py", "runserver", "0.0.0.0:8000" ]
    depends_on:
      - mysql
    links:
      - mysql

  mysql:
    image: mysql:8.3
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Admin123
      MYSQL_DATABASE: fs_project
      MYSQL_USER: shawn
      MYSQL_PASSWORD: Admin123
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_db:/var/lib/mysql
    command: --default-authentication-plugin=caching_sha2_password

  redis:
    image: redis
    restart: always
    ports:
      - '6379:6379'
    command: redis-server
    volumes:
      - ./redis:/data
