services:
  web_server:
    image: fs_project
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    command: [ "uv", "run", "python", "src/manage.py", "runserver", "0.0.0.0:8000" ]
    depends_on:
      - mysql
      - redis
    links:
      - mysql
      - redis

  celery_worker:
    image: fs_project
    restart: always
    command: ["uv", "run", "celery", "-A", "src.fs_project", "worker", "-l", "info" ]
    depends_on:
      - redis
      - mysql
    environment:
      - PYTHONPATH=/code/fs_project/src
      - DJANGO_SETTINGS_MODULE=fs_project.settings

  celery_beat:
    image: fs_project
    restart: always
    command: ["uv", "run", "celery", "-A", "src.fs_project", "beat", "-l", "info" ]
    depends_on:
      - redis
    environment:
      - PYTHONPATH=/code/fs_project/src
      - DJANGO_SETTINGS_MODULE=fs_project.settings

  mysql:
    image: mysql:8.3
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Admin123
      MYSQL_DATABASE: fs_project
      MYSQL_USER: shawn
      MYSQL_PASSWORD: Admin123
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_db:/var/lib/mysql
    command: --default-authentication-plugin=caching_sha2_password

  redis:
    image: redis
    restart: always
    ports:
      - '6379:6379'
    command: redis-server
    volumes:
      - ./redis:/data